.confirmation-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .confirmation-page h2 {
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .confirmation-page p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .confirmation-page ul {
    list-style-type: none;
    padding: 0;
  }
  
  .confirmation-page ul li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .confirmation-page strong {
    font-weight: bold;
  }
  